* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #e8f0ea;
    font-family: "JetBrains Mono", monospace;
    -webkit-font-smoothing: antialiased;
}
