<div>
    <input
        type="text"
        [value]="cellInfo.letter"
        #cellInput
        (click)="onClickInput()"
        (input)="onInputEvent($event)"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="characters"
        spellcheck="false"
        [attr.readonly]="cellInfo.isLocked ? '' : null"
        [ngClass]="{
            'cell-active': cellInfo.isActive,
            'cell-not-active': !cellInfo.isActive,
            'cell-locked': cellInfo.isLocked,
            'cell-user-filled': cellInfo.letter && !cellInfo.isLocked
        }"
        [ngStyle]="{'background': cellInfo.background}"
    >
</div>
