<div class="game-board">

    <div class="game-header">
        <h1 class="game-title">Word Sudoku</h1>
        <p class="game-rules">
            Fill every cell so no row or column repeats a letter or spells a word in any direction.
        </p>
    </div>

    <div class="timer-row">
        <div class="timer-block">
            <span class="timer-label">BEST</span>
            <span class="timer-value best-time">{{ bestScore }}</span>
        </div>
        <div class="timer-block timer-block--right">
            <span class="timer-label">TIME</span>
            <span class="timer-value current-time">{{ timeTaken }}</span>
        </div>
    </div>

    <div [ngClass]="'board'" [class.disable-user-action]="disableUserAction"
        [ngStyle]="{'grid-template-columns': gridSize}">
        <ng-container *ngFor="let row of board; index as i">
            <ng-container *ngFor="let cell of row; index as j">
                <div class="cell">
                    <app-cell (cellClick)="onCellClick(i, j)" [cellInfo]="board[i][j]"
                        (cellValueChange)="onCellValueChange($event, i, j)">
                    </app-cell>
                </div>
            </ng-container>
        </ng-container>
    </div>

    <div class="feedback-area">
        <ng-container *ngIf="failureReason !== ''">
            <span class="failure-detail">{{ failureDetail }}</span>
            <button class="meaning-btn" *ngIf="failureReason === 'wordExists'" (click)="onClickSeeMeaning()">
                See meaning
            </button>
        </ng-container>
        <ng-container *ngIf="solveStatus !== '' && failureReason === ''">
            <p class="solve-status" [class.solve-status--success]="solveStatus === 'SUCCESS'">{{ solveStatus }}</p>
        </ng-container>
    </div>

    <button class="restart-btn" (click)="onClickRestart()">New Game</button>

    <app-word-meaning [wordMeaning]="wordMeaning" (closeModal)="onCloseModal()"></app-word-meaning>
</div>
